*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style-type:none;
}

main{
    display: grid;
    grid-template-columns: 264px 1fr;
    padding: 24px;
    gap: 10px;
    color: #39414B;
}