.item_btn{
    width: 100%;
    background-color: transparent;
    border: none;
    text-align: left;
    padding: 12px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 800;
    color: #39414B;
    cursor: pointer;
}